@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/MyCustomFont.woff2') format('woff2'),
        url('fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(231, 237, 255);
    margin-top: 95px;
    margin-left: 50px;
    margin-right: 50px
}

.toplink {
    background-color: rgb(95, 135, 225);
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
}

.selected {
    background-color: rgb(95, 135, 225);
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
    border: 2px solid #3b2565
}

a:link {
    color: #3b2565
}

a:visited {
    color: #3b2565
}

hr {
    color: #3b2565
}

.boxed-article {
    background-color: rgb(167, 195, 255);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

.boxed-nav {
    padding: 10px;
    width: 98, 5%;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, rgb(124, 163, 255)60%, transparent 100%)
}

.boxed-fullscreen {
    background-color: rgb(167, 195, 255);
    padding: 10px;
    width: 98%;
    border-radius: 5px;
}

.image-html-acaciahof {
    position: absolute;
    top: 170px;
    left: 820px;
    border: 5px solid rgb(124, 163, 255);
}

.image-css-csw {
    position: absolute;
    top: 170px;
    left: 1010px;
    border: 5px solid rgb(124, 163, 255);
}

.image-hz {
    position: absolute;
    top: 350px;
    left: 850px;
    border: 5px solid rgb(124, 163, 255);
}

table {
    border-radius: 5px;
    width: 90.5vw;
    border: 2px solid #3b2565;
}

th,
td {
    border-radius: 5px;
    border: 2px solid #3b2565;
    padding: 5px;
    text-align: left;
}

.progress-box {
    background-color: rgb(124, 163, 255);
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    max-width: 500px;
}

.progress-bar {
    height: 30px;
    background-color: #3b2565;
    width: 0px;
    border-radius: 10px;
}

.backbutton-box {
    padding: 10px;
    width: 98%;
    text-align: center;
}

summary {
    display: inline-block;
}