@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/MyCustomFont.woff2') format('woff2'),
        url('fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Using Google Font */
    /* font-family: 'MyCustomFont', sans-serif; /* Using Self-Hosted Font */
}

body {
    background-color: rgb(231, 237, 255);
}

.toplink {
    background-color: rgb(95, 135, 225);
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
}

.selected {
    background-color: rgb(95, 135, 225);
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
    border: 2px solid #3b2565
}

a:link {
    color: #3b2565
}

a:visited {
    color: #3b2565
}

.boxed1 {
    background-color: rgb(167, 195, 255);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

.boxed2 {
    padding: 10px;
    width: 98, 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, rgb(124, 163, 255)60%, transparent 100%)
}

.image1 {
    position: absolute;
    top: 170px;
    left: 820px;
    border: 5px solid rgb(124, 163, 255);
}

.image2 {
    position: absolute;
    top: 170px;
    left: 1010px;
    border: 5px solid rgb(124, 163, 255);
}

.image3 {
    position: absolute;
    top: 350px;
    left: 850px;
    border: 5px solid rgb(124, 163, 255);
}

table {
    border-radius: 5px;
    width: 97vw;
    border: 2px solid #3b2565;
}

th,
td {
    border-radius: 5px;
    border: 2px solid #3b2565;
    padding: 5px;
    text-align: left;
}

.col1 {
    width: 10vw;
}

.col2 {
    width: 25vw;
}

.col3 {
    width: 10vw;
}

.emptybox {
    border: 0px
}